<div class="list-active">
  <% if current_user?(user) %>
    <div class="form middle-xy">
      <div class="field-checkbox clear">
        <div class="button-checkbox">
          <% if list.active? %>
            <%= check_box 'list', 'active_' + list.id.to_s, {checked: true}, true, false %>
          <% else %>
            <%= check_box 'list', 'active_' + list.id.to_s, {}, true, false %>
          <% end %>
          <%= label_tag 'list_active_' + list.id.to_s, id: "list-checkbox-" + list.id.to_s do %>
            <span></span>
          <% end %>
          <div class="slide"></div>
        </div>
      </div>
    </div>
  <% elsif list.active? %>
    <div class="active-on middle-xy c">
      <span>ON</span>
    </div>
  <% else %>
    <div class="active-off middle-xy c">
      <span>OFF</span>
    </div>
  <% end %>
</div>