<% if logged_in? %>
  <div class="list-avail">
    <div class="form middle-xy">
      <div id="list-avail-<%= list.id %>" class="field-avail">
        <% if current_user.availing?(list) %>
          <%= render partial: 'lists/unavail', locals: { list: list } %>
        <% else %>
          <%= render partial: 'lists/avail', locals: { list: list } %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
<% end %>