<div class="list-check">
  <div class="form middle-xy">
    <div id="list-check-<%= list.id %>" class="field-checkbox2 clear">
      <% if list.check? %>
        <%= render partial: 'lists/uncheck', locals: { list: list } %>
      <% else %>
        <%= render partial: 'lists/check', locals: { list: list } %>
      <% end %>
    </div>
  </div>
</div>