<li class="list" id="list-<%= list.id %>">
  <a class="list-link" href="#"></a>
  <div class="list-content">
    <div class="list-active"></div>
    <div class="list-text over-text">
      <span class="middle-y"><%= list.content %></span>
    </div>
    <div class="list-check"></div>
  </div>
</li>