<div class="button-checkbox2 button-uncheck">
  <%= form_for(list, url: check_list_path(list), remote: true) do |f| %>
    <%= button_tag fa_icon('check-square-o'), class: "middle-xy" %>
  <% end %>
</div>