<% provide(:title, "リスト詳細(" + @list.content + ")") %>
<% provide(:og_title, "リスト詳細(" + @list.content + ")") %>
<% provide(:og_url, list_url(@list)) %>

<div class="container content-mspace">
  <div class="list-text">
    <%= @list.content %>
  </div>
  <div class="list-info clear">
    <div class="list-user-count square c">
      <span class="count-num middle-xy"><%= @list.user_count %></span>
      <span class="count-label middle-x">便乗人数</span>
    </div>
    <div class="list-availing square">
      <%= render partial: 'lists/avail_form',
                 locals: { list: @list,
                           cuser_list_ids: @cuser_list_ids } %>
    </div>
  </div>
</div>
<div class="border"></div>
<div class="container content-nspace">
  <div class="title-nspace c">
    <h2>達成日数 BEST3</h2>
  </div>
  <div class="border"></div>
  <ul class="rank">
    <% @users.length.times do |n| %>
      <%= render partial: 'users/user',
                 locals: { list: @list,
                           user: @users[n],
                           mylist: @mylists[n],
                           rank: n + 1 } %>
    <% end %>
  </ul>
</div>