<% provide(:title, "リスト詳細") %>
<% provide(:og_title, "リスト詳細") %>
<% provide(:og_url, list_url(@list)) %>

<div class="container content-mspace">
  <div class="">
    <%= @list.content %>
  </div>
</div>