<p>今日を振り返って達成項目にチェックをつけましょう！</p>

<p>～実行中のリスト～</p>
<ul>
  <% @contents.each do |content| %>
    <li><%= content %></li>
  <% end %>
</ul>

<p><%= link_to "リスト一覧へ移動してチェックする！", mylists_user_url(@user) %></p>