<div class="button-checkbox">
  <%= form_for(mylist, url: active_mylist_path(mylist), remote: true) do |f| %>
    <%= button_tag "", class: "button-slide button-active" do %>
      <span></span>
    <% end %>
  <% end %>
  <div class="slide slide-off"></div>
</div>