<% rdays = mylist.running_days %>
<div class="list-active">
  <% if current_user?(user) %>
    <div class="form middle-xy">
      <div id="list-active-<%= mylist.id %>" class="field-checkbox3 clear">
        <%= render partial: 'mylists/active_button',
                   locals: { mylist: mylist } %>
      </div>
    </div>
  <% elsif mylist.active? %>
    <div class="active-on middle-xy c">
      <span>ON</span>
    </div>
    <% if rdays != 0 %>
      <span class="list-rdays c"><%= rdays %>日継続中</span>
    <% end %>
  <% else %>
    <div class="active-off middle-xy c">
      <span>OFF</span>
    </div>
  <% end %>
</div>