<% rdays = mylist.running_days %>
<% if mylist.active? %>
  <div class="form middle-xy">
    <div id="list-check-<%= mylist.id %>" class="field-checkbox2">
      <%= render 'mylists/check_button', mylist: mylist %>
    </div>
  </div>
<% else %>
  <div class="non-active middle-xy c">
    <%= fa_icon('square') %>
  </div>
<% end %>
<% if rdays != 0 %>
  <span class="list-rdays c"><%= rdays %>日継続中</span>
<% end %>