<div class="list-strong">
  <div class="form middle-xy">
    <div id="list-strong-<%= mylist.id %>" class="field-checkbox4 clear">
      <%= render partial: 'mylists/strong_button',
                 locals: { mylist: mylist } %>
    </div>
  </div>
</div>