<div class="button-checkbox2 button-uncheck">
  <%= form_for(mylist, url: check_mylist_path(mylist), remote: true) do |f| %>
    <%= button_tag fa_icon('check-square-o'), class: "middle-xy" %>
  <% end %>
</div>