<div class="blank"></div>
<div class="container content-nspace">
  <div class="title-nspace c">
    <h2>使い方３ステップ</h2>
  </div>
  <div class="border"></div>
  <%= render 'shared/how_to_use_steps' %>
</div>