<div class="how-to-use">
  <div class="step clear">
    <div class="step-figure c"><%= fa_icon('search') %></div>
    <div class="step-text">
      <p><b>①</b> マイページの<b>「リスト検索・追加」</b>からやらないことを<b>キーワード検索</b>！</p>
      <p class="example">(例：「遅刻しない！」 → 「遅刻」で検索)</p>
    </div>
  </div>
  <div class="border"></div>
  <div class="step clear">
    <div class="step-figure c">
      <div class="avail-dummy">
        <span>便乗！</span>
      </div>
    </div>
    <div class="step-text">
      <p><b>②</b> 追加したいリストの左のような<b>「便乗！」</b>のボタンをクリック！</p>
      <p>→ <b class="wred">やらないことリストの追加完了！</b></p>
    </div>
  </div>
  <div class="border"></div>
  <div class="step clear">
    <div class="step-figure check-dummy c">
      <%= fa_icon('check-square-o') %>
    </div>
    <div class="step-text">
      <p><b>③</b> １日の終わりに達成できたか振り返って<b>チェック</b>！</p>
    </div>
  </div>
</div>