<% if type == "click" %>
<div class="container content-sspace c fixed-bottom popup-login" id="popup1">
<% elsif type == "auto" %>
<div class="container content-sspace c fixed-bottom popup-login" id="popup2">
<% end %>
  <div class="button-large button-twitter" style="margin: 0 auto;">
    <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", '/auth/twitter' %>
  </div>
</div>