<%= form_tag(yield(:search_url), method: "get", enforce_utf8: false) do %>
  <% if page == "admin" %>
    <div><%= hidden_field_tag :for, @for_param %></div>
  <% end %>
  <div class="field-inner">
    <%= text_field_tag :keyword, params[:keyword],
                       placeholder: "キーワード（例:スマホ,ゲーム...）" %>
  </div>
  <div class="button-inner">
    <%= button_tag fa_icon('search'), name: nil %>
  </div>
<% end %>