<% provide(:title, "ヘルプ") %>
<% provide(:og_title, "ヘルプ") %>
<% provide(:og_url, help_url) %>

<div class="container content-mspace">
  <div class="blank" style="border: 0;"></div>
  <%= render 'shared/ogp' %>
  <div class="blank" style="border: 0;"></div>
  <%= render 'shared/twi_icon' %>
</div>