<% provide(:og_title, "NoDoBotoke -NotToDoリスト-") %>
<% provide(:og_url, root_url) %>

<div class="content-lspace container c">
  <div class="top-text">
    <p>「やらない(Not To Do)」リストを</p>
    <p>簡単作成！</p>
    <p>↓</p>
    <p>Twitterで宣言(シェア)して実行度UP！</p>
    <p>↓</p>
    <p>１日の終わりに簡単フィードバック！</p>
  </div>
  <div class="top-main">
    <div class="top-enter">
      <div class="c button-large button-twitter">
        <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", '/auth/twitter' %>
      </div>
      <div class="c button-large button-accent">
        <%= link_to "NoDoBoIDで登録する", signup_path %>
      </div>
      <div class="c button-big button-mini button-waccent">
        <%= link_to fa_icon("sign-in") + " NoDoBoIDでログイン", login_path %>
      </div>
    </div>
  </div>
</div>