<% provide(:og_title, "NoDoBotoke -逆ToDoリスト-") %>
<% provide(:og_url, root_url) %>

<div class="content-lspace container c">
  <div class="title-lspace">
    <h1 class="logo-font">NoDoBotoke</h1>
  </div>
  <div class="top-main">
    <div class="top-text">
      <p>~開発中~</p>
    </div>
    <div class="top-enter">
      <div class="c button-large button-twitter">
        <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", '/auth/twitter' %>
      </div>
      <div class="c button-large button-accent">
        <%= link_to "NoDoBoIDで登録する", signup_path %>
      </div>
      <div class="c button-big button-mini button-waccent">
        <%= link_to fa_icon("sign-in") + " NoDoBoIDでログイン", login_path %>
      </div>
    </div>
  </div>
</div>