<% provide(:title, "このサイトについて") %>
<% provide(:og_title, "このサイトについて") %>
<% provide(:og_url, about_url) %>

<div class="container content-lspace">
  <div class="title-lspace c">
    <h1>このサイトについて</h1>
  </div>
</div>