<% provide(:title, "ヘルプ") %>
<% provide(:og_title, "ヘルプ") %>
<% provide(:og_url, help_url) %>

<div class="container content-lspace">
  <div class="title-lspace c">
    <h1>よくある質問</h1>
  </div>
</div>