<% og_title = "NoDoBotoke -逆ToDoリスト-" %>
<% provide(:og_title, og_title) %>
<% provide(:og_url, root_url) %>

<div class="content-lspace container">
  <div class="title">
    <h1>NoDoBotoke</h1>
  </div>
  <div class="text">
    <p>開発中</p>
  </div>
</div>