<% provide(:title, "ポストデモ") %>
<% provide(:og_title, "ポストデモ") %>
<% provide(:og_url, post_view_url) %>

<div class="container content-sspace">
  <div class="demo">
    <div class="out-line abs-left">
      <div class="in-line c">
        <div class="in-text middle-y">
          <ul>
            <li>テストテストテストテストテストテストテストテストテストテスト</li>
            <li>テストテストテストテストテスト</li>
            <li>テストテストテストテストテストテスト</li>
          </ul>
        </div>
      </div>
      <div class="in-title">
        <span class="logo-font">NoDoBotoke</span>
      </div>
    </div>
  </div>
</div>