@import "font-awesome";

/* mixins, variables, ertc. */

$base: #fff;  /* white */
$main: #000;  /* black */
$accent: #ffd700;  /* gold */
$waccent: #fff462; /* canry yellow*/
$test: #e6e6fa;
$back: #f2f2f2; /*(元)#fafafa;*/
$weak-grey: #f2f2f2;
$base-grey: #999;
$twi-blue: #55acee;
$twi-grey: #657786;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* base */

* {
  @include box_sizing;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

body {
  background: $back;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;*/
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  /*font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
  font-size: 1.0em;
  position: relative;
  padding: 51px 0;
}

a {
  color: $base-grey;
  text-decoration: none;

}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.c {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.content-lspace {
  background: $base;
  padding: 45px;
}

.title-lspace {
  font-size: 24px;
  margin-bottom: 30px;
}

.content-mspace {
  background: $base;
  padding: 30px;
}

.title-mspace {
  font-size: 24px;
  margin: 10px 0 30px;
}

.content-sspace {
  background: $base;
  padding: 15px;
}

.content-nspace {
  background: $base;
  padding: 0;
}

.logo-font {
  font-family: 'Yeon Sung', cursive;
}

.attention {
  margin: 0 auto 30px;
  width: 85%;

  p {
    font-size: 14px;

    a {
      color: #3599f0;
      text-decoration: underline;
    }
  }
}

/* botton, form */

$size:(
  big: 100%,
  large: 80%,
  middle: 60%,
  small: 40%
);

@each $key, $value in $size {
  .button-#{$key} {
    border-radius: 5px;
    height: 40px;
    margin: 35px auto;
    max-width: 320px;
    width: $value;

    input,
    button,
    a {
      broder-raidus: 5px;
      color: $base;
      display: block;
      font-weight: 550;
      letter-spacing: 0.1px;
      line-height: 40px;
      width: 100%;

      i {
        color: $base;
      }
    }
  }

  .button-#{key}:hover {
    filter: alpha(opacity = 80);
    opacity: 0.8;
  }
}

.button-mini {
  height: 30px;
  max-width: 190px;
  width: 70%;

  input,
  button,
  a {
    color: $main;
    font-size: 0.8em;
    font-weight: 550;
    line-height: 30px;

    i {
      color: $main;
    }
  }
}

$color:(
  twitter: $twi-blue,
  accent: $accent,
  waccent: $waccent
);

@each $key, $value in $color {
  .button-#{$key} {
    background: $value;
  }

  .button-accent {
    input,
    button,
    a {
      color: $main;
    }
  }
}

/* layouts */
  
  /* header */

header {
  background: $accent;
  border-bottom: 1px solid $accent;
  height: 51px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .content-head {
    height: 50px;
    line-height: 50px;

    .header-center {
      width: 100%;

      a {
        display: block;

        .logo-font {
          color: $main;
          font-size: 20px;
        }
      }
    }
  }
}

  /* footer */

footer {
  background: $back !important;

  .footer-link {

    a {
      color: grey;
      display: inline-block;
      font-size: 12px;
      padding: 5px;
    }
  }

  .twitter-link {
    background: grey;
    border-radius: 50%;
    height: 40px;
    margin: 10px auto;
    width: 40px;

    a {
      color: $back;
      display: block;
      line-height: 40px;
    }
  }

  .copyright a {
    font-size: 16px;
  }
}

  /* flash */

.flash-base {
  background: rgba(0,0,0,0);
  font-size: 16px;
  font-weight: 550;
  height: 50px;
  line-height: 50px;
  pointer-event: none;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 200;

  .flash-success {
    background: rgba(223,240,216,0.85);
    color: #3c763b;
  }

  .flash-danger {
    background: rbga(255,246,246,0,9);
    color: #e5171f;
  }

  .flash-info {
    background: rgba(224,255,255,0.85);
    color: #00bfff;
    font-weight: 450;
  }
}

/* shared */

  /* error_message */

.error {
  background: #fff6f6;
  border: 1.5px solid #ebccd1;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;

  .error-title {
    color: #e5171f;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 15px;
  }

  ul {
    color :red;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 35px;

    i {
      color: rbga(255,0,0,0.7);
      margin-right: 5px;
    }
  }
}

/* parts */
  
  /* form */

.form {
  position: relative;
  width: 100%;

  .field {
    height: 40px;
    margin: 0 auto 35px;
    position: relative;
    width: 100%;

    input,
    select,
    textarea,
    label {
      background: $weak-grey;
      border-radius: 5px;
      color: $main;
      display: block;
      font-size: 13px;
      font-weigtht: 500;
      letter-spacing: 0.2px;
      line-height: 24px;
      padding: 8px 20px;
      width: 100%;
    }
  }
}

/* static */

.poricy {
  p {
    font-size: 14.5px;
    line-height: 30px;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 30px 0;
  }
}