<header>
  <div class="container content-header">
    <div class="header-left">
    </div>
    <div class="header-center c">
      <% if logged_in? %>
        <a class="logo-text" href="<%= user_path(current_user) %>">
      <% else %>
        <a class="logo-text" href="<%= root_path %>">
      <% end %>
        <span class="logo-font">NoDoBotoke</span>
      </a>
    </div>
    <div class="header-right">
    </div>
  </div>
</header>