<header>
  <div class="container content-header">
    <div class="header-center">
      <% if logged_in? %>
        <a class="logo-text" href="<%= user_path(current_user) %>">
      <% else %>
        <a class="logo-text" href="<%= root_path %>">
      <% end %>
        <span class="logo-font">nodopou  <small>～シンプルNot-To-Doリスト～</small></span>
      </a>
    </div>
  </div>
</header>