<header>
  <div class="container content-header">
    <div class="header-left">
    </div>
    <div class="header-center c">
      <a class="logo-text" href="<%= root_path %>">
        <span class="logo-font">NoDoBotoke</span>
      </a>
    </div>
    <div class="header-right">
    </div>
  </div>
</header>